# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
ENV/
env/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.tox/
.nox/
.pytest_cache/
htmlcov/

# Jupyter Notebook
.ipynb_checkpoints

# Django / Flask stuff
*.log
local_settings.py
db.sqlite3
instance/
.webassets-cache

# VSCode / PyCharm / IDE settings
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db
